*{
    margin: 0;
    padding: 0;
}

.contact{
    background-image: url(masseffect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.contact h2{
    color: white;
    margin-left: 190px;
    padding-top: 150px;
}

#contactForm{
    display: flex;
    float: left;
    flex-direction: column;
    margin-left: 190px;
    margin-top: 10px;
    color: white;
}

