<%- include("includes/head.ejs") %>
<link rel="stylesheet" href="./register.css">
</head>

<body>
    <%- include("includes/navbar.ejs") %>

    <main>
    <div class="register">
        <h1>Edit Game</h1>
        <form action="/edit" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Image URL:</label>
                <input type="text" id="image" name="image" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit Game</button>
        </form>
    </div>
    
</main>
</body>
</html>
