<%- include("includes/head.ejs") %>

</head>
<body>
  <div class="wrapper">
    <%- include("includes/navbar.ejs") %>
    <div class="main">  
      <h1>Radiant</h1>
      <p>Where Gaming Radiates Brilliance.</p>
      <button type="button" class="btn btn-primary" onclick="location.href='/games'">Browse Store</button>
    </div>
  </div>
    <div class="second">
      <div class="gamesbutton">
      <h1 id="games">TOP SELLING</h1>
      <button type="button" class="btn btn-primary" onclick="location.href='/games'">Browse Games</button>
    </div>
      <div class="grid text-center">
        <div class="g-col-4 boxd up">
          <div class="content">
            <h2>Tekken 8</h2>
            <p>"Fist Meets Fate”</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      
        <div class="g-col-4 box2 up">
          <div class="content">
            <h2>Assassin's Creed Valhalla</h2>
            <p>Unleash the ruthless fighting style of a Viking warrior as you dual-wield axes, swords, or even shields against relentless foes.</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>

        <div class="g-col-4 box3 up">
          <div class="content">
            <h2>Anthem</h2>
            <p>Move at incredible speed, rocket across the skies, or safely roam watery depths.</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>

        <div class="g-col-4 box4 up">
          <div class="content">
            <h2>Mass-Effect</h2>
            <p>Relive the Cinematic Saga.</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>

        <div class="g-col-4 box5 up">
          <div class="content">
            <h2>Little Nightmares</h2>
            <p>Immerse yourself in Little Nightmares, a dark whimsical tale that will confront you with your childhood fears!</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
        
        <div class="g-col-4 box6 up">
          <div class="content">
            <h2>Watch Dogs Legion</h2>
            <p>Explore a massive urban open world featuring London's many iconic landmarks and fun side activities.</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
</div>

<div class="gamesbutton">
          <h1>FEATURED</h1>
          <button type="button" class="btn btn-primary" onclick="location.href='/games'">Browse More</button>
        </div>
        <div class="grid text-center">
        <div class="g-col-4 box7 up">
          <div class="content">
            <h2>Valorant</h2>
            <p>A 5v5 character-based tactical FPS where precise gunplay meets unique agent abilities.</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>

        <div class="g-col-4 box8 up">
          <div class="content">
            <h2>Resident Evil: Biohazard</h2>
            <p>The next major entry in the renowned <br> Resident Evil series</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>

        <div class="g-col-4 box9 up">
          <div class="content">
            <h2>Hitman 3</h2>
            <p>Suit up for a spy-thriller adventure where all your deadly abilities are put to the test across more than 20 locations.</p>
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1>OUR PROUD PARTNERS:</h1>
      <div class="scrolling-container">
        <div class="scrolling-wrapper">
            <!-- Repeat the logos twice for seamless infinite scrolling -->
            <div class="logo-group">
                <img src="pictures/Adobe-logo.png" alt="Logo 1">
                <img src="pictures/Canva-logo.png" alt="Logo 2">
                <img src="pictures/figma.png" alt="Logo 3">
                <img src="pictures/fiverr-rounded-logo.png" alt="Logo 4">
                <img src="pictures/Mercedes-Benz-3D-Star.png" alt="Logo 5">
                <img src="pictures/Adobe-logo.png" alt="Logo 1">
                <img src="pictures/Canva-logo.png" alt="Logo 2">
                <img src="pictures/figma.png" alt="Logo 3">
                <img src="pictures/fiverr-rounded-logo.png" alt="Logo 4">
                <img src="pictures/Mercedes-Benz-3D-Star.png" alt="Logo 5">
            </div>
            <!-- Additional logo group to ensure continuity in animation -->
            <div class="logo-group">
                <img src="pictures/Adobe-logo.png" alt="Logo 1">
                <img src="pictures/Canva-logo.png" alt="Logo 2">
                <img src="pictures/figma.png" alt="Logo 3">
                <img src="pictures/fiverr-rounded-logo.png" alt="Logo 4">
                <img src="pictures/Mercedes-Benz-3D-Star.png" alt="Logo 5">
                <img src="pictures/linkedin-logo-png-.png" alt="Logo 1">
                <img src="pictures/google-logo.png" alt="Logo 2">
                <img src="pictures/figma.png" alt="Logo 3">
                <img src="pictures/fiverr-rounded-logo.png" alt="Logo 4">
                <img src="pictures/Mercedes-Benz-3D-Star.png" alt="Logo 5">
            </div>
        </div>
    </div>  
    
    <div class="third">
      
      <h1 id="descp">NEWSWIRE</h1>
      <br>
      <div class="image-container">
        <img src="images\gta6.jpg" alt="Image">
        <div class="overlay">
          <div class="text">
            <h1>GTA-6 Trailer is here!</h1>
            <p>The trailer offers a tantalizing glimpse into the next chapter of the iconic franchise, teasing stunning graphics, immersive gameplay, and the return of the adrenaline-fueled action that fans know and love.</p>
          </div>
          <button type="button" class="btn btn-primary">Watch Now
            <a href="https://youtu.be/QdBZY2fkU-0?si=wB52UKvDTVqvHe3M" target="_blank"></a>
          </button>
        </div>
      </div>
      <br>
      <br>
      <div class="image-container">
        <img src="images/valo1.jpg" alt="Image">
        <div class="overlay">
          <div class="text">
            <h1>Valorant champions tour radiance</h1>
            <p>Valorant Champions Tour 2024 is on-the-go. It is a year-long, global circuit featuring three levels of competition: Challengers, Masters, and Champions. Various teams are competing against each other which include Sentinels, Cloud9, EvilGeniuses, PaperEx, 100Theives and many more.</p>
          </div>
          <button type="button" class="btn">Watch Now
            <a href="https://youtu.be/QdBZY2fkU-0?si=wB52UKvDTVqvHe3M"></a>
          </button>
        </div> 
             
      </div>
      <br>
      <br>
      <div class="image-container">
        <img src="images\419788.jpg" alt="Image">
        <div class="overlay">
          <div class="text">
            <h1>Upcoming Assassin's Creed Game May Have Been Delayed.</h1>
            <p>An Assassin's Creed game is reportedly delayed after its developer implemented a major change in strategy, with an exact release date still unknown.</p>
          </div>
          <button type="button" class="btn">Watch Now
            <a href="https://gamerant.com/new-assassins-creed-game-jade-release-date-delayed/"></a>
          </button>
        </div>
      </div>

        <br>
        <br>

        <div class="fourth">
        <div class="lastbox">
          <div class="gridd1">

            <div class="boxx1">
          <h1>CONTACT ME:</h1>
          <a href="faizanbinqaiser@gmail.com" target="_blank"> faizanbinqaiser@gmail.com</a>
        </div>

        <div class="boxx2">

        </div>

        </div>
        </div>
      </div> 
    </div>
</body>
</html>