@import url('Big_Shoulders_Display/static/BigShouldersDisplay-Black.ttf');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/47ff3156fe928e750d0468143555356f?family=Sofia+Pro+Soft+W01+Regular');

body{
    font-family: "Sofia Pro Soft W01 Regular";
    background-color: grey;
}
img{
    width: 175px;
}
.circle{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid rgb(216, 112, 112);
    border-top: 4px solid white;
    animation: ani 3s linear infinite;
}
.picture{
    position: absolute;
    top: 137px;
}

@keyframes ani {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container {
    display: flex;
    min-height:100vh;
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 140px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 10px;
    border-radius: 15px ;
  }

.leftbar {
    min-height:100vh;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(128, 37, 37);
    border-radius: 15px 0 0 15px;
}
.container .leftbar h1{
    margin-top: 50px;
    display: flex;
    color: white;
    margin-bottom: 0px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;      
}

.container .leftbar p{
    padding: 40px;
    padding-top: 0px;
    margin-top: 0px;
    text-align: justify;
    color: white;
    font-size: 14px;
}

.container .leftbar .language1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .leftbar .language1 p{
    margin-right: 0px;
    margin-top: 0.3rem;
}
.container .leftbar .bar1{
    height: 3px;
    width: 120px;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-right: 45px;
    border: 4px solid white;
    border-radius: 2px;
    background-color: white;
}
.container .leftbar .language2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container .leftbar .language2 p{
    margin-right: 0px;
    /* margin-top: 0.3rem; */
}
.container .leftbar .language2 .bar2{
    height: 3px;
    width: 120px;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    margin-right: 45px;
    border: 4px solid white;
    border-radius: 2px;
    background-color: white;
}

.container .leftbar h1.contact{
    margin-top: 0px;
}
.container .leftbar h2{
    color: white;
}

.contactdiv{
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.bxs-phone-call{
    color: white;
    font-size: 20px;
    padding-right: 7px;
}

.linkedindiv{
    display: flex;
    justify-content: center;
}
.bxl-linkedin-square{
    color: white;
    font-size: 20px;
    padding-right: 7px;
}
.linkedindiv a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    transition: 0.75s;
   
}
.linkedindiv a:hover{
    color: black;
}

.gmaildiv{
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.bxl-gmail{
    color: white;
    font-size: 20px;
    padding-right: 7px;
}
.gmaildiv a{
    color: white;
    text-decoration: none;
    transition: 0.75s;
}
.gmaildiv a:hover{
    color: black;
}

.rightbar {
    width: 70%;
    display: flex;
    border-radius: 0 15px 15px 0;
    background-color: white;
    flex-direction: column;
    align-items: center;  
}

.namebox{
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: rgb(128, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
}
.namebox .fullname{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 25px;
}
.namebox p{
    padding-top: 0px;
    margin-top: 0px;
    font-family: "Madimi One", sans-serif;
    font-weight: 20;
    font-style: normal;
    font-size: 15px;
    text-transform: none;
}

.education{
    width: 82%;
    color: rgb(128, 37, 37);
    font-size: 35px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.newone{
    text-align: justify;
    color: black;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 0px;
}
.small{
    font-size: 13px;
    color: rgb(103, 103, 103);
}
.vertical{
    border-right: 5px solid black;
}
.vertical2{
    /* height: 50%; */
    color: rgb(169, 41, 41);
    border-right: 5px solid black;
}

.overall{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}
.date{
    display: flex;
    flex-direction: column;
    padding-right: 70px;   
}

.name{
    display: flex;
    flex-direction: column;   
    padding-left: 70px;   
}


.experience{
    padding: 20px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    color: black;
    
}

.outer-bar{
    width: 200%;
    height: 20px;
    border: 4px solid rgb(128, 37, 37);
    border-radius: 4px;
    background-color: rgb(128, 37, 37);   
}
.inner-bar1{
    width: 70%;
    height: 20px;
    /* border-bottom: 7px; */
    border-radius: 4px;
    background-color: white;
}
.inner-bar2{
    width: 70%;
    height: 20px;
    /* border-bottom: 7px; */
    border-radius: 4px;
    background-color: white;
}
.inner-bar3{
    width: 90%;
    height: 20px;
    /* border-bottom: 7px; */
    border-radius: 4px;
    background-color: white;
}
.inner-bar4{
    width: 80%;
    height: 20px;
    /* border-bottom: 7px; */
    border-radius: 4px;
    background-color: white;
}
.inner-bar5{
    width: 90%;
    height: 20px;
    /* border-bottom: 7px; */
    border-radius: 4px;
    background-color: white;
}
.inner-bar6{
    width: 40%;
    height: 20px;
    /* border-bottom: 7px; */
    border-radius: 4px;
    background-color: white;
}
.glow{
    animation-name: glow;
    animation-duration: infinite;
    animation-delay: -1s;
    transition: 0.25s;
}
@keyframes glow {
    0%{
        background-color: black;
    }
    50%{
        background-color: white;
    }
    
}
.outside{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    margin-right: 15%;
}
.inside{
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 70px;
}
span{
    color: black;
}
.leftbar span{
    color: white;
}
.lines{
    /* border-bottom: 5px solid white; */
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    position: relative;
}

.lines::after, .lines::before{
    content:'';
    position: absolute;
    margin: auto;
    height: 5px;
    background: rgb(128, 37, 37);
    width: 45%;
    top: 45%;
}

.lines::after{
    left:0
}
.lines::before{
    right:0
}

.circles{
    height: 40px;
    width: 40px;
    border: 5px solid rgb(128, 37, 37);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: ani 3s linear infinite;
}

@media (max-width: 600px){
    .circle{
        height: 20px;
        width: 20px;
    }

    .lines{
        height: 25px;
    }
}

