
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: paleturquoise;
}

h1{
    font-family: "Oswald";
    padding-left: 30px;
    padding-top: 20px;
    color: green;
    font-size: 40pt;
    margin: 50px;
}

p{
    font-family: "Oswald";
    color: rgb(36, 179, 36);
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20pt;
    text-align: left;
    margin: 50px;
    
}
ul{
    font-family: "Oswald";
    color: rgb(36, 179, 36);
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20pt;
    text-align: left;
    margin: 50px;
    list-style-type:square;

}
img{
    /* padding-left: 70px;
    padding-top: 70px;  */
    width: 150px;
    border-radius: 50%;
}
li{
    display: inline;
    
}

.new{
    float: left;
    width: 20%;
}

.line {
    display: block;
}

.bar{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    border: 3px solid black;
    border-radius: 10px;
}
