@import url(ToyBox.ttf);
@import url(Outfit-Regular.ttf);

.third {
    width: 100%;
    margin: 0 auto;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-item {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 255, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
}

.news-content {
    flex-grow: 1;
    color: white;
    font-family: "Outfit-Regular";
}

.news-content h1 {
    margin-top: 0;
    color: rgb(0, 255, 0);
    font-family: "ToyBox";

}

.news-content button a {
    color: white;
    text-decoration: none;
}

.news-content .btn-primary {
    margin-top: 10px;
    display: inline-block;
}

.news-content .btn-warning, .news-content .btn-danger {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

.pagination span {
    margin: 0 5px;
}
